* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 /* 'Playfair Display', serif */
}

section {
 background-color: whitesmoke;
 padding-top: 10px;
}

/* MENU-BAR */

.menuBar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 40px;
}

#myLogo {
 width: 50px;
}

ul {
 display: flex;
 align-items: center;
}

li {
 list-style: none;
 margin-right: 20px;
 font-weight: bold;
}

a {
 text-decoration: none;
 color: black;
}

a:hover {
 text-decoration: underline;
}

.icon {
 margin-right: 5px;
}

.menuLogo {
 width: 20px;
}

/* ABOUT-ME */
.container {
 display: flex;
 flex-direction: column;
 padding: 40px;
 margin-top: 30px;
 width: 70%;
 margin-bottom: 50px;
}

/* .abtMe {
 box-shadow: 0 0 10px rgba(2, 16, 95, 0.9);
 padding: 50px 10px;
 border-radius: 10px;
} */

#abtTitle {
 margin-bottom: 20px;
 text-decoration: underline;
}

#abtText {
 margin-bottom: 40px;
 text-align: justify;
}

/* EXPERIENCE, EDUCATION, CERTIFICATE */
.experience,
.certification,
.education {
 margin-bottom: 40px;
}

#expTitle,
#eduTitle {
 margin-bottom: 20px;
 text-decoration: underline;
}

.topExp,
.topEdu {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 10px;
}

.time {
 background-color: rgb(166, 241, 216);
 color: green;
 padding: 5px;
 border-radius: 10px;
 text-align: center;
}

.bottomExp,
.bottomEdu {
 display: flex;
 justify-content: space-between;
}

.leftBtmExp,
.leftBtmEdu {
 display: flex;
 width: 40%;
 justify-content: space-between;
}

/* OUTRO */
.outro {
 display: flex;
 flex-direction: column;
 padding: 10px 40px;
 background-color: rgb(232, 230, 230);
}

.topOutro {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

#logoBtm {
 width: 30px;
}

.rightOutro {
 display: flex;
 gap: 50px;
 font-weight: bold;
}

#logoRightOutro {
 display: flex;
 gap: 10px;
}

hr {
 border: 1px solid black;
 margin: 20px 0;
}

.bottomOutro {
 display: flex;
 justify-content: space-between;
}

.rightBottom {
 display: flex;
 gap: 10px;
}

.hideMenu {
 display: none;
}


/* RESPONSIVENESS */
@media only screen and (max-width: 750px) {

 /* #cvApp,
 #movieApp {
  width: 100%;
 } */

 .container {
  width: 100%;
  margin-top: 10px;
 }

 .outro {
  padding: 5px;
 }

 .topOutro {
  display: flex;
  flex-direction: column;
 }

 #logoBtm {
  display: none;
 }

 .rightOutro {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  font-size: small;
 }

 .bottomOutro {
  display: flex;
  flex-direction: column;
 }

 .leftBottom {
  display: none;
 }

 .rightBottom {
  display: flex;
  justify-content: center;
 }

 .hideMenu {
  display: block;
  font-size: 25px;
 }

 ul {
  background: rgb(182, 180, 180);
  position: fixed;
  right: -200px;
  top: 0;
  width: 120px;
  height: 100vh;
  padding-top: 50px;
  transition: right 0.5s;
  display: flex;
  flex-direction: column;
 }

 li {
  display: block;
  margin: 15px;
 }

 ul .hideMenu {
  position: absolute;
  top: 25px;
  left: 50px;
  cursor: pointer;
 }

}