* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 /* 'Playfair Display', serif */
}

section {
 background-color: whitesmoke;
}

.mainContainer {
 display: flex;
 flex-direction: column;
 height: 100vh;
}

/* MENU-BAR */

.menuBar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 40px;
 height: 15%;
}

#myLogo {
 width: 50px;
}

ul {
 display: flex;
 align-items: center;
}

li {
 list-style: none;
 margin-right: 20px;
 font-weight: bold;
}

a {
 text-decoration: none;
 color: black;
}

a:hover {
 text-decoration: underline;
}

.icon {
 margin-right: 5px;
}

.menuLogo {
 width: 20px;
}

/* CONTACT-ME */
.contactMe {
 height: 65%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 60%;
 padding: 20px 40px;
 gap: 10px;
}

.contactLeft {
 width: 65%;
}

.contactRight {
 width: 35%;
}

#sendMsg {
 margin-bottom: 5px;
}

form {
 display: flex;
 flex-direction: column;
 width: 100%;
 gap: 5px;
}

input,
textarea {
 border: 0;
 background: #acabab;
 padding: 10px;
 color: black;
 font-size: 18px;
 border-radius: 6px;
}

.btn {
 padding: 10px;
 font-size: 20px;
 font-weight: bold;
 width: 30%;
 border-radius: 6px;
}

.btn:hover {
 background-color: rgb(97, 97, 244);
 color: whitesmoke;
 cursor: pointer;
}

#msg {
 color: black;
 font-weight: bold;
 font-size: 18px;
 display: block;
}

/* OUTRO */
.outro {
 display: flex;
 flex-direction: column;
 padding: 10px 40px;
 background-color: rgb(232, 230, 230);
 height: 20%;
}

.topOutro {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

#logoBtm {
 width: 30px;
}

.rightOutro {
 display: flex;
 gap: 50px;
 font-weight: bold;
}

#logoRightOutro {
 display: flex;
 gap: 10px;
}

hr {
 border: 1px solid black;
 margin: 20px 0;
}

.bottomOutro {
 display: flex;
 justify-content: space-between;
}

.rightBottom {
 display: flex;
 gap: 10px;
}


/* RESPONSIVENESS */
@media only screen and (max-width: 700px) {}