*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    background-color: whitesmoke;
}

/* INTRO-HEADING */

.intro{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.menuBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 50px;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin-right: 20px;
}

a{
    text-decoration: none;
}

.icon{
    margin-right: 5px;
}

/* INTRO-ABOUT-ME */
