* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* 'Playfair Display', serif */
}

section {
    background-color: whitesmoke;
    padding-top: 10px;
}

html {
    scroll-behavior: smooth;
}

/* INTRO-HEADING */

.intro {
    display: flex;
    flex-direction: column;
    padding: 5px 40px;
    height: 100vh;
}

.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 50px;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    margin-right: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.icon {
    margin-right: 5px;
}

.menuLogo {
    width: 20px;
}

/* INTRO-ABOUT-ME */
.aboutMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

/* .leftAbtMe{
    width: 50%;
} */

/* .rightAbtMe{
    width: 50%;
} */

#welcomeText {
    font-size: 65px;
    overflow: hidden;
    /* border-right: .15em solid orange; */
    white-space: nowrap;
    animation: typing 2s steps(60, end);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.myPix {
    width: 500px;
    border: 3px solid rgb(56, 3, 3);
    border-radius: 50%;
}

span {
    background-image: linear-gradient(rgba(1, 7, 39, 0.9), rgba(251, 6, 6, 0.9));
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    font-size: larger;
}

/* TOOLS & PROJECTS */
.tools,
#projects {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.tools {
    box-shadow: 5px 5px 10px rgba(2, 16, 95, 0.9);
    margin: 0 40px;
    border-radius: 10px;
}

.toolsHeading,
.projectHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.title {
    font-size: 30px;
    margin-bottom: 5px;
}

.description {
    font-size: 20px;
}

.techTools {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 0 15%;
    margin-bottom: 50px;
}

#cvApp,
#project3,
#project4 {
    width: 418px;
    height: 65%;
    border-radius: 10px 10px 0 0;
}

.projectSamples {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 10px;
}

.projectBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(1, 7, 39, 0.9);
    border-radius: 10px;
    height: 600px;
}

.viewProject {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin: 10px 0;
}

.projectDesc {
    padding: 0 10px;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text1 {
    margin: 10px 0;
}

.text2 {
    margin: 10px 0;
}

.text3 {
    margin: 20px 0;
}


/* OUTRO */
.outro {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    padding: 10px 40px;
    background-color: rgb(232, 230, 230);
}

.topOutro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoBtm {
    width: 30px;
}

.rightOutro {
    display: flex;
    gap: 50px;
    font-weight: bold;
}

#logoRightOutro {
    display: flex;
    gap: 10px;
}

hr {
    border: 1px solid black;
    margin: 20px 0;
}

.bottomOutro {
    display: flex;
    justify-content: space-between;
}

.rightBottom {
    display: flex;
    gap: 10px;
}


/* RESPONSIVENESS */
@media only screen and (max-width: 700px) {
    #welcomeText {
        font-size: 35px;
    }

    .myPix {
        width: 300px;
    }

    .projectSamples {
        display: flex;
        flex-direction: column;
    }

    #cvApp,
    #movieApp {
        width: 100%;
    }

    .intro {
        height: 65vh;
    }
}