* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 /* 'Playfair Display', serif */
}

section {
 background-color: whitesmoke;
}

.mainContainer {
 display: flex;
 flex-direction: column;
 height: 100vh;
}

/* MENU-BAR */

.menuBar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 /* height: 15%; */
 padding: 20px 40px;
 background-color: rgb(232, 230, 230);
}

#myLogo {
 width: 50px;
}

ul {
 display: flex;
 align-items: center;
}

li {
 list-style: none;
 margin-right: 20px;
 font-weight: bold;
 font-size: larger;
}

a {
 text-decoration: none;
 color: black;
}

a:hover {
 /* text-decoration: underline; */
 background-color: #418BCF;
 padding: 5px;
 border-radius: 10px;
 color: whitesmoke;
}

.icon {
 margin-right: 5px;
}

.menuLogo {
 width: 20px;
}

/* CONTACT-ME */
.contactMe {
 height: 75%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px 40px;
 gap: 10px;
}

.contactLeft {
 width: 65%;
}

.contactRight {
 width: 35%;
}

#sendMsg {
 margin-bottom: 5px;
}

form {
 display: flex;
 flex-direction: column;
 width: 100%;
 gap: 5px;
}

input,
textarea {
 border: 0;
 background: #acabab;
 padding: 10px;
 color: black;
 font-size: 18px;
 border-radius: 6px;
}

.btn {
 padding: 10px;
 font-size: 20px;
 font-weight: bold;
 width: 40%;
 border-radius: 6px;
}

.btn:hover {
 background-color: rgb(97, 97, 244);
 color: whitesmoke;
 cursor: pointer;
}

#msg {
 color: black;
 font-weight: bold;
 font-size: 18px;
 display: block;
}

/* OUTRO */
.outro {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 30px 40px;
 background-color: rgb(232, 230, 230);
 border-top: 2px solid grey;
}

.leftOutro {
 display: flex;
 align-items: center;
 gap: 10px;
 width: 30%;
 font-size: larger;
}

.rightOutro {
 display: flex;
 align-items: center;
 gap: 20px;
 font-weight: bold;
 font-size: large;
}

hr {
 border: 1px solid black;
 margin: 20px 0;
}

.hideMenu {
 display: none;
}


/* RESPONSIVENESS */
@media only screen and (max-width: 750px) {
 .contactMe {
  width: 90%;
 }

 .btn {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  width: 40%;
 }

 .outro {
  padding: 20px 40px;
 }

 .leftOutro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-size: medium;
 }

 .rightOutro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  /* width: 90%; */
  font-size: small;
 }

 .hideMenu {
  display: block;
  font-size: 25px;
 }

 .hideMenu:hover {
  cursor: pointer;
 }

 #sideMenu {
  background: rgb(182, 180, 180);
  position: fixed;
  right: -200px;
  top: 0;
  width: 120px;
  height: 100vh;
  padding-top: 50px;
  transition: right 0.5s;
  display: flex;
  flex-direction: column;
 }

 li {
  display: block;
  margin: 15px;
 }

 ul .hideMenu {
  position: absolute;
  top: 25px;
  left: 50px;
  cursor: pointer;
 }
}