* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* 'Playfair Display', serif */
}

section {
    background-color: whitesmoke;
}

html {
    scroll-behavior: smooth;
}

/* INTRO-HEADING */
/* 0, 153, 255 */
.intro {
    display: flex;
    flex-direction: column;
    /* padding: 5px 40px; */
    height: 100vh;
    background-image: linear-gradient(rgb(65, 139, 207, 0.9), rgba(215, 218, 220, 0.9));
}

.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 230, 230);
    padding: 20px 40px;
}

img {
    width: 50px;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    margin-right: 20px;
    font-weight: bold;
    font-size: larger;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    /* text-decoration: underline; */
    background-color: #418BCF;
    padding: 5px;
    border-radius: 10px;
    color: whitesmoke;
}

.icon {
    margin-right: 5px;
}

.menuLogo {
    width: 20px;
}

/* INTRO-ABOUT-ME */
.aboutMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 30px; */
    margin: auto 0;
    padding: 5px 40px;
}

/* .leftAbtMe{
    width: 50%;
} */

/* .rightAbtMe{
    width: 50%;
} */

#welcomeText {
    font-size: 65px;
    overflow: hidden;
    /* border-right: .15em solid orange; */
    white-space: nowrap;
    animation: typing 2s steps(60, end);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

#textBottom {
    font-size: large;
    margin: 10px 0;
}

/* #hireBtn {
    font-size: large;
}

#hireBtn:hover {
    text-decoration: none;
    color: white;
}

button {
    width: 20%;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(232, 230, 230);
}

button:hover {
    background-color: rgb(65, 139, 207);
    cursor: pointer;
} */

.myPix {
    /* width: 500px; */
    width: 100%;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    background-color: rgb(200, 198, 198);
}

span {
    /* background-image: linear-gradient(rgba(1, 7, 39, 0.9), rgba(251, 6, 6, 0.9));
    background-clip: text;
    color: transparent; */
    color: rgb(239, 85, 85);
    font-weight: bolder;
    font-size: larger;
}

/* TOOLS & PROJECTS */
.tools {
    box-shadow: 2px 5px 10px rgba(2, 16, 95, 0.9);
    margin: 100px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.toolsHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    padding: 50px;
}

.title {
    font-size: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.description {
    font-size: 20px;
    text-align: center;
}

.techTools {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 0 15%;
    margin-bottom: 50px;
}

.techImg {
    width: 80px;
    height: 80px;
}

#projects {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 100px 0;
}

.projectHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    padding: 50px;
    background-image: linear-gradient(rgb(65, 139, 207, 0.9), rgba(245, 247, 247, 0.9));
}

#cvApp,
#project3,
#project4 {
    /* width: 418px; */
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
}

.projectSamples {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 70px;
}

.projectBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(1, 7, 39, 0.9);
    border-radius: 10px;
    height: 100%;
}


.projectDesc {
    padding: 16px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectDescTop {
    height: 70%;
}

.projectDescBtm {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.text1 {
    margin: 15px 0;
    color: black;
}

.text2 {
    margin: 5px 0;
    color: rgb(24, 24, 24);
    text-align: justify;
}

.text3 {
    margin: 10px 0;
}

.viewProject {
    display: flex;
    justify-content: space-between;
    /* margin: 10px 0; */
    margin-top: auto;
}



/* OUTRO */
.outro {
    display: flex;
    flex-direction: column;
    padding: 30px 40px 10px 40px;
    background-color: rgb(232, 230, 230);
    border-top: 2px solid grey;
}

.topOutro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomList {
    font-size: medium;
    margin-right: 10px;
}

.rightOutro {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottomOutro {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    gap: 10px;
    margin-top: 30px;
}

.hideMenu {
    display: none;
}


/* RESPONSIVENESS */
@media only screen and (max-width: 1050px) {
    #welcomeText {
        font-size: 50px;
    }

    .projectSamples {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projectBox {
        width: 90%;
    }
}

@media only screen and (max-width: 900px) {
    #welcomeText {
        font-size: 40px;
    }
}

@media only screen and (max-width: 750px) {
    #welcomeText {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
        align-items: self-start;
    }

    .myPix {
        width: 300px;
    }

    .projectSamples {
        display: flex;
        flex-direction: column;
    }

    #cvApp,
    #project3,
    #project4 {
        width: 100%;
        height: 60%;
    }

    .tools {
        padding: 10px;
    }

    .techTools {
        padding: 0 5%;
        /* grid-template-columns: repeat(3, 1fr); */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .outro {
        padding-top: 10px;
    }

    .topOutro {
        display: flex;
        flex-direction: column;
    }

    .bottomOutro {
        font-size: medium;
        margin-top: 0;
    }

    .rightOutro {
        display: none;
    }

    .hideMenu {
        display: block;
        font-size: 25px;
    }

    .hideMenu:hover {
        cursor: pointer;
    }

    #sideMenu {
        background: rgb(182, 180, 180);
        position: fixed;
        right: -200px;
        top: 0;
        width: 120px;
        height: 100vh;
        padding-top: 50px;
        transition: right 0.5s;
        display: flex;
        flex-direction: column;
    }

    li {
        display: block;
        margin: 15px;
    }

    ul .hideMenu {
        position: absolute;
        top: 25px;
        left: 50px;
        cursor: pointer;
    }
}